.portfolio__example {
    margin-bottom: 5rem;
}

.portfolio__example:last-child {
    margin-bottom: 10rem;
}

@media (max-width: 48em) {
    ._example {
        width: 123%;
        text-align: center;
        align-items: center;
        padding: 5rem;
    }

    ._example img {
        width: 100%;
        margin-bottom: -10rem;
    }
}