.skill-language__language {
    width: 15rem;
	height: 15rem;
	border: .6rem solid #5c5c5c;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-bottom: 3rem;
	margin-right: 3rem;
}

.skill-language__language:hover {
	border: .6rem solid #8dbbf4;
}