.porfolio__title {
    @include font(600, 4.1rem, 139%);
    margin-left: 8rem;
    margin-bottom: 5rem;
    color:rgba(0, 0, 0, 0.758);
}

@media (max-width: 48em) {
    .porfolio__title {
        text-align: center;
    }
}