.skill__text {
    @include font(600, 4.1rem, 139%);
    margin-bottom: 10rem;
    color: rgba(0, 0, 0, 0.758);
    word-spacing: .5rem;
}

@media (max-width: 48em) {
    .skill__text {
        width: 123%;
        margin-bottom: -5rem;
        text-align: center;
        align-items: center;
        padding: 5rem;
    }
}